<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Go Racer!</title>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="/js/core.js"></script>
  </head>
  <body>
<pre style="display:none;" id="template">
//example
package game

import "math/rand"

type GameRepository struct {
  Games
}

func (gs *GameRepository) RandomJoinable() *Game {
  games := gs.Games.Joinable()
  if len(games) == 0 {
    return gs.Create()
  }
  return games[rand.Intn(len(games))]
}

func (gs *GameRepository) Find(id string) *Game {
  return gs.Games.Find(id)
}

func (gs *GameRepository) Create() *Game {
  game := NewGame()
  gs.Games = append(gs.Games, game)
  return game
}

var Repository = &GameRepository{}
</pre>

    <script src='/js/base.js'></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </body>
</html>
