<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Go Racer!</title>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script src="/js/core.js"></script>
  </head>
  <body>
<pre class="prettyprint lang-go" id="code">
//example
package game

import "math/rand"

type GameRepository struct {
  Games
}

func (gs *GameRepository) RandomJoinable() *Game {
  games := gs.Games.Joinable()
  if len(games) == 0 {
    return gs.Create()
  }
  return games[rand.Intn(len(games))]
}

func (gs *GameRepository) Find(id string) *Game {
  return gs.Games.Find(id)
}

func (gs *GameRepository) Create() *Game {
  game := NewGame()
  gs.Games = append(gs.Games, game)
  return game
}

var Repository = &GameRepository{}
</pre>


    <script>
      window.users = {
        0: ""
      };
      $(function() {
        username = $.cookie("username");
        window.ws = new WebSocket("ws://localhost:8000/events/{{.Id}}?username="+username);

        window.ws.onmessage = function(e) {
          var tokens = e.data.split(":");
          var command=tokens[0];
          var params=tokens[1];

          switch(command) {
            case "w":
              var tokens = params.split("#");
              var user = tokens[0];
              var key = tokens[1];
              window.GO_RACER_NS.carretMoveLogic(key);
              break;
            case "users":
              var tokens = params.split("&");
              $(tokens).each(function(index, val){
                var tokensInside = val.split("#");
                var id = parseInt(tokensInside[0],10);
                var name = tokensInside[1];
                window.users[id] = name;
              })
              break;
            case "start":
              //TODO: Write start logic
              break;
            case "current_user":
              window.current_user_id = parseInt(params, 10);
              break;
          }

          $(document.body).append(e.data)
          // window.GO_RACER_NS.carretMoveLogic(e.data);
        };
      });
    </script>
    <script>
      window.exports = {};
      window.exports['js_ident'] = window.GO_RACER_NS.prepareGameField;
    </script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?callback=js_ident"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </body>
</html>
